{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <form class="form-signin" role="form" method="post" action=".">
      {% csrf_token %}
      <h2><class="form-signin-heading">Please sign in - <a href="/accounts/register/">not got an account?</a></h2>
      {% if form.errors %}
      <div data-alert class="alert-box alert round">
          There was an error. Please check the details you have entered.
          <a href="#" class="close">&times;</a>
     </div>
      {% endif %}
      <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
      <input class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />
      <button class="btn btn-primary btn-block" type="submit" value="Submit">Sign in</button>
    </form>
  </div>
</div>

{% endblock %}
