{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
    <h1>Log In...</h1>
	{% csrf_token %}
    <form data-abide>
      <div class="row">
        <div class="small-8 columns">

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Username</label>
            </div>
            <div class="small-9 columns">
              {{ form.username }}
              <small class="error">Please enter a valid username!</small>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Password</label>
            </div>
            <div class="small-9 columns">
				{{ form.password }}
              <small class="error">Please enter your password!</small>
            </div>
          </div>

          <div class ="row">
            <div class="centered">
              <button class="button expand" type="submit" value="Submit">Log in</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
