{% extends "base.html" %}

{% block title %}Add Profile{% endblock %}

{% block content %}

    {% if registered_profile %}
        <div class="page-header">
            <h2 class="form-signin-heading">Registration Completed</h2>
        </div>
        Thank you for registering!
    {% else %}
        <h2 class="form-signin-heading">Add your info here</h2>
        <form data-abide>
            {% csrf_token %}
            <h2 class="form-signin-heading">Add Profile Information</h2>
            {{ profile_form.as_p }}
            <button type="submit" class="button expand">Submit</button>
        </form>
    {% endif %}
{% endblock %}