{% extends "base.html" %}

{% block title %}Add Profile{% endblock %}

{% block content %}

    {% if registered_profile %}
        <div class="page-header">
            <h2 class="form-signin-heading">Registration Completed</h2>
        </div>
        Thank you for registering!
        
    {% else %}
        <form role="form"  method="post" action=".">
            {% csrf_token %}
              <div class="row" >
                <div class="small-9 columns">
                  <h2 class="form-signin-heading">Add Profile Information</h2>
                  {{ profile_form.as_p }}
                  <button class="button expand" type="submit" value="Submit">Add Profile</button>
                </div>
              </div>
        </form>
    {% endif %}
{% endblock %}