{% extends "rango/base.html" %}

{% block title %}Add Profile{% endblock %}

{% block body_block %}
    {% if registered_profile %}
        <div class="page-header">
            <h2 class="form-signin-heading">Registration Completed</h2>
        </div>
        Thank you for registering!
    {% else %}
        <form class="form-signin" role="form" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">Add Profile Information</h2>
            {{ profile_form.as_p }}
            <button class="btn btn-primary" type="submit" value="Submit" />Add Profile</button>
        </form>
    {% endif %}
{% endblock %}