{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <h1>Wanna Register...</h1>
        <form data-abide>
            <div class="row">
                <div class="small-8 columns">

                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="right inline">Username</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" placeholder="username" required>
							<small class="error">Please enter a valid username!</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="right inline">Password</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="password" id="password" placeholder="********" required>
							<small class="error">A Password is required.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="right inline">Password again</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="password" id="password-again" placeholder="********" required>
							<small class="error">A Password is required.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="right inline">Email</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="email" id="right-label" placeholder="example@me.com" required>
							<small class="error">A valid email address is required.</small>
                        </div>
                    </div>
					<div class ="row">
						<div class="small-9 columns">
							<center>
							<button type="submit">Submit</button>
							</center>
						</div>
					</div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
