//To compile to CSS, cd into this folder and use "sass --watch app.scss:../css/app.css" to compile to app.css
@import "settings";
@import "normalize";
@import "foundation";
@import "slick";

#googleMap {
    height: 300px;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }

#placePhotoContainer {
    min-height:170px;
}
