{% extends "base.html" %}
{% block title %}Your Profile{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <h1>About</h1>
      <div class="row">
        <p>Awrite. This is GrubGrabber.</p>
        <p>The website designed to unite humanity and acheive singularity through an efficient food searching algorithm.</p>
        <p>To use this website simply type your location into the search bar and we'll do the rest of the work for you!</p>
        <br>
        <img src="{% static 'img/grubgrabber.jpg' %}" width="1000" alt="Grub Grabber" />
        <br>
        <p>This was developed as part of our Web App Development course at Glasgow University</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
