{% extends "base.html" %}
{% block title %}Your Profile{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="row">
  <div class="large-7 columns">
    <div class="row">
      <h1>About</h1>
      <div class="row">
        <p>This is GrubGrabber. So you can grab grub faster!</p>
        <h5>&nbsp;&nbsp; Search for the top rated places in your area!</h5>
        <p>The website is designed to unite humanity and acheive singularity through an efficient food searching algorithm.</p>
        <p>To use this website simply type your location into the search bar and we'll do the rest of the work for you!</p>
        <p>This was developed as part of our Web App Development course at Glasgow University</p>
		<img src="{% static 'img/grubgrabber.jpg' %}" width="1000" alt="Grub Grabber" />
      </div>
    </div>
  </div>
  <div class ="large-4 columns">
  <img src="{% static 'img/us.jpg' %}" width="1000" height="200" alt="us!" />
  </div>
</div>

{% endblock %}
