{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
  <div class="large-12 hide-for-small">

    <div class="row">
      <div class="large-10 columns">
        <div class="row collapse">
          <div class="small-2 columns">
            <br>
          </div>
          <div class="small-9 columns">
            <input type="text" placeholder="Location">
          </div>
          <div class="small-1 columns">
            <a href="#" class="button postfix">Eat!</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<br>

<div class="row">
  <div class="large-3 columns">
    <div class="row">
      <br>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="row">
      <a href="{% url 'register' %}" class="button large">Register</a>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="row">
      <a href="{% url 'login' %}" class="button large">Log In</a>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="row">
      <br>
    </div>
  </div>
</div>



{% endblock %}
