{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
  <img src="{% static 'img/grubgrabber.jpg' %}" width="1000" alt="Grub Grabber" />
  <br /><br />

  <div class="row">
    <div class="small-12 columns">
      <h3>&nbsp;&nbsp; Can't decide what to each for lunch? </h3><br />
    </div>
    <div class="small-1 columns">
      &nbsp;&nbsp;&nbsp;&nbsp; <i class='fi-magnifying-glass large'></i>
    </div>
    <div class="small-11 columns">
      <form action="search/" method="post">
        {% csrf_token %}
        <input id="mainSearch" class="mainSearch" type="text" name="search" placeholder="Enter your approximate location"/>
      </form>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-4 columns">

          <h4>Recent Eats</h4><hr>
          {% if likes %}

          <ul class="list-group">
            {% for Like in likes %}
            <li class ="list-group-item"><a href="/place/{{ Like.place_id }}">{{ Like.name | safe }}</a></li>
            {% endfor %}
          </ul>
          {% else %}
          <strong>No recent eats</strong>
          {% endif %}
        </div>

        <!-- Log in -->

        <div class="small-4 columns">
          <h4>Top Eats</h4><hr>
          {% if favourites %}

          <ul class="list-group">
            {% for favourite in favourites %}
            <li class ="list-group-item"><a href="/place/{{ favourite.place_id }}">{{ favourite.name | safe }}</a></li>
            {% endfor %}
          </ul>
          {% else %}
          <strong>No favourite eats</strong>
          {% endif %}

        </div>

        <div class="small-4 columns">
          <h4>Locations</h4><hr>
          {% if user.is_authenticated %}
            {% for location in locations %}
              <form action="search/" method="post">
                {% csrf_token %}
                <a href="search/{{location.geometry}}">{{location.name}}</a>
              </form>
            {% endfor %}
          {% else %}
            <b><a href="{% url 'auth_login' %}">Login</a> to view your personal locations</b>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{% static "js/index.js" %}"></script>
{% endblock %}
