{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">

        <h1>Log In...</h1>

        <form>
            <div class="row">
                <div class="small-8 columns">

                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="right inline">Username</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" id="right-label" placeholder="username">
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="right inline">Password</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" id="right-label" placeholder="********">
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
