{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Place{% endblock %}

{% block content %}

<div class="row">
  <div class="small-9 columns">
    <div id="currentResult" class="panel">
      <div class="row">
        <div class="small-1 columns">
          <img id="typeIcon" class="left" height="49" width="49"/>
        </div>
        <div class="small-7 columns">
          <h1><span id="placeName"></span></h1>
        </div>
        <div class="small-4 columns">
          <div id="placePhotoContainer">
            <img id="placePhoto" src="http://placehold.it/329x150&text=Place Image">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <div id="googleMap"></div>
        </div>
        <div class="small-8 columns">
          <p>Location: <span id="placeLocation"></span></p>
          <p>Rating: <span id="placeRating"></span></p>
          <p>Website: <a id="placeWebsite"></a></p>
          <p>Types: <span id="placeTypes"></span></p>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <a class='button'>Favourite</a>
          <a class='button alert'>Blacklist</a>
        </div>
      </div>

    </div>
  </div>
  <div class="small-3 columns panel" >
      <div id="placeReviews" class="placeReviews">
      </div>
      <ul id="placeReviewsButtons" class="button-group round text-center">
      </ul>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static "js/slick.min.js" %}"></script>
<script src="http://maps.googleapis.com/maps/api/js?key={{ mapsKey }}&libraries=places"></script>
<script>
var map;
var geocoder;
var service;
var infowindow;
var searchLocation;
var searchResults;
var placeName;

function callback(result, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    console.log(result);
    $("#placeName").append(result["name"]);
    $("#placeLocation").append(result["formatted_address"]);
    $("#typeIcon").attr("src",result["icon"]);
    $("#placeRating").append(result["rating"]);
    $("#placeWebsite").append(result["website"]);
    $("#placeWebsite").attr("href", result["website"]);
    result["reviews"].forEach(function(review) {
        var html = "<div class='review'>";
        html += review["author_name"];
        html += "<br>";
        html += review["text"];
        html += "</div>";
        $("#placeReviews").append(html);
    });
    $('.placeReviews').slick({
        infinite: true,
        appendArrows: $("#placeReviewsButtons"),
        prevArrow: "<a class='slick-prev button small'>Previous</a>",
        nextArrow: "<a class='slick-next button small'>Next</a>",
    });
    result["types"].forEach( function(type) {
        $("#placeTypes").append(type + ", ");
    });
    if (result["photos"] != undefined) {
      $("#placePhoto").attr("src",result["photos"][0].getUrl({'maxHeight': 150}));
    } else {
      $("#placePhoto").attr("src","http://placehold.it/329x150&text=Place Image");
    }
    new google.maps.Marker({
      map: map,
      position: result["geometry"]["location"]
    });
  }
}

function initialize() {
  var mapProp = {
    zoom:15,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };

  map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

  var request = {
    placeId: "{{ PLACE_ID | safe}}",
  };

  infowindow = new google.maps.InfoWindow();
  service = new google.maps.places.PlacesService(map);
  service.getDetails(request, callback);
}
</script>

<script>
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}
