{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Place{% endblock %}

{% block content %}

<div class="row">
  <div class="small-9 columns">
    <div id="currentResult" class="panel">
      <div class="row">
        <div class="small-1 columns">
          <img id="typeIcon" class="left" height="49" width="49"/>
        </div>
        <div class="small-7 columns">
          <h1><span id="placeName"></span></h1>
        </div>
        <div class="small-4 columns">
          <div id="placePhotoContainer">
            <img id="placePhoto" src="http://placehold.it/329x150&text=Place Image">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <div id="googleMap"></div>
        </div>
        <div class="small-8 columns">
          <p>Location: <span id="placeLocation"></span></p>
          <p>Rating: <span id="placeRating"></span></p>
          <p>Website: <a target="_blank" id="placeWebsite"></a></p>
          <p>Types: <span id="placeTypes"></span></p>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <a class='button'>Favourite</a>
          <a class='button alert'>Blacklist</a>
        </div>
      </div>

    </div>
  </div>
  <div class="small-3 columns panel" >
      <div id="placeReviews" class="placeReviews">
      </div>
      <ul id="placeReviewsButtons" class="button-group round text-center">
      </ul>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static "js/slick.min.js" %}"></script>
<script src="http://maps.googleapis.com/maps/api/js?key={{ mapsKey }}&libraries=places"></script>
<script src="{% static "js/place.js" %}"></script>

<script>
initialize("{{ SEARCH_LOC | safe }}", "{{ PLACE_ID | safe }}");
</script>
{% endblock %}
