{% extends "base.html" %}

{% block title %}Your Profile{% endblock %}

{% block content %}

{% load staticfiles %}
<div class="row">
  <div class="large-12 columns">
    <div class="row">
    <h1>{{ user.username }}'s Profile</h1>

      {% if user_profile.picture %}
       <img class="profile" src="{{ user_profile.picture.url }}" HEIGHT="200" WIDTH="250"/>
      {% endif %}

      <div class="row">
      <br />
      <b> Email Address: </b>
      {{ user.email }}
	  <br />
      <b> About: </b>
        {% if user_profile %}
          {{ user_profile.about }}
        {% else %}
          N/A
        {% endif %}
	  <br />
    </div>
		<div class="row">
        <br />
		{% if favourites %}
           <ul class="list-group">
			 <strong> Favourites: </strong>
            {% for favourite in favourites %}
			    <li class ="list-group-item"><a href="/place/{{ favourite.place_id }}">{{ favourite.name }}</a></li>
			{% endfor %}
            </ul>
        {% else %}
            <strong>No favourites</strong>
        {% endif %}
		</div>
		<div class="row">
		{% if blacklist %}
           <ul class="list-group">
			 <strong> Blacklist : </strong>
            {% for blacklist in blacklist %}
				<li class ="list-group-item"><a href="/place/{{ blacklist.place_id }}">{{ blacklist.name }}</a></li>
			{% endfor %}
            </ul>
        {% else %}
            <strong>No blacklisted</strong>
        {% endif %}
		</div>
      <br />
      <form action="{% url 'register_profile' %}">
        <input class="button small" type="submit" value="Edit Profile">
      </form>
      <h2>Saved Locations</h2>
      {% for location in locations %}
      {{ location.name }}: {{ location.geometry }}
      <br><br>
      {% empty %}
      <strong>No Places Added!</strong>
      {% endfor %}
      <input id="location" type="text" placeholder="Start typing an address"/>
      <a id="addLocation" class="button">Add a location</a>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{% static "js/profile.js" %}"></script>
{% endblock %}
