{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<h1>Wanna Register...</h1>

<form>
  <div class="row">
    <div class="small-8 columns">

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Username</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" placeholder="username">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Password</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" placeholder="********">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Password again</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" placeholder="********">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Email</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" placeholder="example@me.com">
        </div>
      </div>

    </div>
  </div>
</form>


{% endblock %}
