{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="row">
    <div class="small-12">
        Your search was <strong>{{ searchParam }}</strong>.
        <br>
        <div id="currentResult"></div>
        <div id="googleMap"></div>
    </div>
</div>
<br>

{% endblock %}

{% block javascript %}

<script src="http://maps.googleapis.com/maps/api/js?key={{ mapsKey }}&libraries=places"></script>
<script>
var map;
var geocoder;
var service;
var infowindow;
var searchLocation;
var searchResults;

function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
        console.log(results);
        searchResults = results;
        var html;
        var contentStart = "<div class='panel'>";
        var contentEnd = "<a class='button' onClick='getNextResult()'>Get Next</a></div>";
        result = searchResults.shift();
        $("#currentResult").append(contentStart + result["name"] + " @ " + result["vicinity"] + contentEnd);
    }
}

function getNextResult() {
    var html;
    var contentStart = "<div class='panel'>";
    var contentEnd = "<a class='button' onClick='getNextResult()'>Get Next</a></div>";
    $("#currentResult").html(contentStart + searchResults.shift()["name"] + " @ " + searchResults.shift()["vicinity"] + contentEnd);
}

function codeAddress(address) {
    geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            var locationObject = results[0].geometry.location;
            map.setCenter(locationObject);
            var marker = new google.maps.Marker({
                map: map,
                position: locationObject
            });
            var request = {
                location: locationObject,
                rankBy: google.maps.places.RankBy.DISTANCE,
                types: ['bakery','cafe','food','meal_takeaway','restaurant']
            };

            service = new google.maps.places.PlacesService(map);
            service.nearbySearch(request, callback);
        } else {
            alert('Geocode was not successful for the following reason: ' + status);
        }
    });
}

function initialize() {
    geocoder = new google.maps.Geocoder();
    var mapProp = {
        zoom:15,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    codeAddress("{{ searchParam }}");
}

function getKey() {
    var key;
    $.ajax("{% url 'getKey' %}", {
        success: function (data) {
            key = data;
        },
        async: false,
    });
    return key;
}

function parseResult(result) {
    searchPlaces(result["location"]);
}

function getCoords(searchParam) {
    $.ajax("https://maps.googleapis.com/maps/api/geocode/json", {
        data: {address: searchParam},
        success: function (data) {
            parseResult(data["results"][0]["geometry"]);
        },
        async:false,
    });
}
</script>

<script>
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}
