{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="row">
  <div class="small-12">
    Your search was <strong>{{ searchParam }}</strong>.
    <br>
    <div id="currentResult" class="panel">
      <div class="row">
        <div class="small-1 columns">
          <img id="typeIcon" class="left" height="49" width="49"/>
        </div>
        <div class="small-7 columns">
          <h1><span id="placeName" data-place=''></span></h1>
        </div>
        <div class="small-4 columns">
          <div id="placePhotoContainer">
            <img id="placePhoto" src="http://placehold.it/329x150&text=No Place Image">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <div id="googleMap"></div>
        </div>
        <div class="small-8 columns">
          Location: <span id="placeLocation"></span>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns text-center">
          <br>
          <a class='button secondary' onClick='getNextResult()'>Get Next</a>
          <a id ='thisPlace' class='button success'>Eat Here!</a>
          {% if user.is_authenticated %}
          <a class='button alert' id="blacklist"><span id="blacklistIcon"></span>Blacklist</a>
          {% endif %}
        </div>
      </div>

    </div>
    <hr>
  </div>
</div>
<br>
{% endblock %}

{% block javascript %}

<script src="http://maps.googleapis.com/maps/api/js?key={{ mapsKey }}&libraries=places"></script>
<script src="{% static "js/search.js" %}"></script>

<script>
initialize();
codeAddress("{{ searchParam }}");
</script>
{% endblock %}
